body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #a4a9a8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #9ae19e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(230, 70, 70, 0.2);
    width: 350px;
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.error-message {
    background-color: #ffecec;
    color: #d8000c;
    padding: 10px;
    border: 1px solid #d8000c;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}